.navigationButtons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0rem;
}
.titleAndNav {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-end;
}
.logo{
    height: 100px;
}
.header{
    display: flex;
    flex-direction: row;
    background-color: #90adbb;
    justify-content: space-evenly;
}
.nav{
    display: flex;
    flex-direction: row;
}